In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
with open("statements_biased", "r", encoding='ISO-8859-1') as subjective:
    with open("statements_neutral_cw-hard", "r", encoding='ISO-8859-1') as objective:
        objective_lines = list(map(lambda x: x.strip(), objective.readlines()))
        subjective_lines = list(map(lambda x: x.strip(), subjective.readlines()))

In [3]:
objective = pd.DataFrame({"text": objective_lines, "score": [1] * len(objective_lines)})
subjective = pd.DataFrame({"text": subjective_lines, "score": [0] * len(subjective_lines)})

In [4]:
data = pd.concat([objective, subjective]).reset_index(drop=True)
data

                                                   text  score
0     The success of BJJ versus the other martial ar...      1
1     In all the games, the player is put in command...      1
2     Potwari ( , also known as Pothohari or Pahari-...      1
3     Hekmatyar's group, who, in October 1975, under...      1
4     After the Battle of Nicopolis in 1396 and the ...      1
...                                                 ...    ...
4947  An abortion is the murder of a human baby embr...      0
4948  It is currently illegally occupied by the brut...      0
4949  For example, in the United Kingdom, people of ...      0
4950  Andrew James Breitbart was one of the most out...      0
4951  For nearly a decade, Israel defied resolutions...      0

[4952 rows x 2 columns]

In [10]:
train_val, test = train_test_split(data, test_size=0.2, stratify=data['score'])
train, val = train_test_split(train_val, test_size=0.1, stratify=train_val['score'])

train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)