In [5]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score
from crowdkit.aggregation import Wawa
from sklearn.model_selection import train_test_split

In [6]:
def get_mv_or_median(x):
    vc = x.value_counts()
    if vc.values[0] == 1:
        return int(np.median(x))
    else:
        return int(vc.index[0])

In [62]:
def get_wawa_score(scores):
    return Wawa().fit_predict(scores)

In [8]:
def print_unaligned_workers(scores_path, threshold=0.35):
    toloka_markup = pd.read_csv(scores_path, sep='\t').drop(["GOLDEN:is_subjective", "HINT:text", "HINT:default_language"], axis=1)
    toloka_markup['OUTPUT:is_subjective'].replace({2: 1, 3: 2, 4: 3, 5: 3}, inplace=True)

    wawa_score = get_wawa_score(toloka_markup)

    worker_ids = toloka_markup.value_counts("ASSIGNMENT:worker_id").index
    worker_f1s = []
    for worker_id in worker_ids:
        worker_scores = toloka_markup[toloka_markup['ASSIGNMENT:worker_id'] == worker_id][['ASSIGNMENT:task_id', 'OUTPUT:is_subjective']]
        worker_scores = worker_scores.set_index('ASSIGNMENT:task_id')
        worker_scores['wawa'] = wawa_score[wawa_score.index.isin(worker_scores.index)]
        worker_f1s.append(f1_score(worker_scores['wawa'], worker_scores['OUTPUT:is_subjective'], average='macro'))
    wawa_worker_ratings = pd.Series(data=worker_f1s, index=worker_ids)
    return wawa_worker_ratings[wawa_worker_ratings < 0.35]

In [9]:
def print_label_distribution(scores_path):
    toloka_markup = pd.read_csv(scores_path, sep='\t').drop(["GOLDEN:is_subjective", "HINT:text", "HINT:default_language"], axis=1)
    toloka_markup['OUTPUT:is_subjective'].replace({2: 1, 3: 2, 4: 3, 5: 3}, inplace=True)

    wawa_score = get_wawa_score(toloka_markup)

    vc = wawa_score.value_counts()
    print(f"Sentences with the 'Non-Applicable' label: {vc[0]}")
    print(f"Sentences with the 'Objective' label: {vc[1]}")
    print(f"Sentences with the 'Neutral' label: {vc[2]}")
    print(f"Sentences with the 'Subjective' label: {vc[3]}")

In [32]:
def aggregate_scores(scores_path, sentence_id_retrieval_path):
    toloka_markup = pd.read_csv(scores_path, sep='\t').drop(["GOLDEN:is_subjective", "HINT:text", "HINT:default_language"], axis=1)
    toloka_markup['OUTPUT:is_subjective'].replace({2: 1, 3: 2, 4: 3, 5: 3}, inplace=True)

    sentence_ids_by_text = pd.read_csv(sentence_id_retrieval_path, sep='\t').set_index("INPUT:text")

    wawa_score = get_wawa_score(toloka_markup)
    
    wawa_score_df = pd.DataFrame(wawa_score).rename(columns={"agg_label": "score"})
    wawa_score_df = wawa_score_df.join(toloka_markup[["INPUT:text", "ASSIGNMENT:task_id"]].drop_duplicates().set_index("ASSIGNMENT:task_id"))
    wawa_score_df["INPUT:text"] = wawa_score_df["INPUT:text"].str.replace("\r", "")
    wawa_score_df = wawa_score_df.set_index("INPUT:text").join(sentence_ids_by_text).reset_index().drop("INPUT:text", axis=1)
    wawa_score_df = wawa_score_df.groupby(by="sentence_id")['score'].apply(list).reset_index().explode('score')

    print(wawa_score_df.isna().value_counts()[False].item())
    assert wawa_score_df.isna().value_counts()[False] == len(wawa_score_df)

    return wawa_score_df

In [65]:
def map_task_id_into_sentence_id(scores_path, sentence_id_retrieval_path):
    toloka_markup = pd.read_csv(scores_path, sep='\t')[['INPUT:text', 'OUTPUT:is_subjective', 'ASSIGNMENT:worker_id']]
    toloka_markup["INPUT:text"] = toloka_markup["INPUT:text"].str.replace("\r", "")
    toloka_markup = toloka_markup.rename(columns={
        'INPUT:text': 'text',
        'OUTPUT:is_subjective': 'label',
        'ASSIGNMENT:worker_id' : 'worker'
    }).set_index('text')
    toloka_markup['label'].replace({2: 1, 3: 2, 4: 3, 5: 3}, inplace=True)
    sentence_ids_by_text = pd.read_csv(sentence_id_retrieval_path, sep='\t').set_index("INPUT:text")
    return toloka_markup.join(sentence_ids_by_text).reset_index(drop=True).rename(columns={'sentence_id': 'task'})

In [35]:
def join_with_data_and_split(aggregated_scores, data_path):
    
    train_val, test = train_test_split(data, test_size=0.2, stratify=data['score'])
    train, val = train_test_split(train_val, test_size=0.1, stratify=train_val['score'])
    return train, val, test

In [19]:
print_unaligned_workers("testing_scores.tsv")

Series([], dtype: float64)

In [20]:
print_unaligned_workers("full_scores.tsv")

Series([], dtype: float64)

In [21]:
print_label_distribution("testing_scores.tsv")

Sentences with the 'Non-Applicable' label: 15
Sentences with the 'Objective' label: 52
Sentences with the 'Neutral' label: 1
Sentences with the 'Subjective' label: 89

In [22]:
print_label_distribution("full_scores.tsv")

Sentences with the 'Non-Applicable' label: 1236
Sentences with the 'Objective' label: 14222
Sentences with the 'Neutral' label: 388
Sentences with the 'Subjective' label: 3861

In [91]:
sample_scores = pd.read_csv("sample_scores.csv").replace({2: 1, 3: 2, 4: 3, 5: 3}).rename(columns={
    'sentence_id': 'task',
    'score': 'label'
})
sample_scores['worker'] = [1000] * len(sample_scores)
testing_scores = map_task_id_into_sentence_id("testing_scores.tsv", "testing_dataset_for_retrieval.tsv")
full_scores = map_task_id_into_sentence_id("full_scores.tsv", "full_dataset_for_retrieval.tsv")
scores = pd.concat([sample_scores, testing_scores, full_scores]).set_index('task')
scores = scores.join(pd.read_csv("sent_tokenized_dataset.csv").set_index('sentence_id')).reset_index(drop=False)
labels = scores.groupby("text")['label'].apply(list)
workers = scores.groupby("text")['worker'].apply(list)
labels_and_workers = list(map(lambda x : list(zip(x[0], x[1])), zip(labels, workers)))
tasks = scores.groupby("text")['index'].apply(lambda x : x.values[0]).to_frame().rename(columns={'index': 'task'})
tasks['labels_and_workers'] = labels_and_workers
tasks = tasks.explode('labels_and_workers')
tasks['label'] = tasks['labels_and_workers'].apply(lambda x : x[0])
tasks['worker'] = tasks['labels_and_workers'].apply(lambda x : x[1])
tasks = tasks.drop('labels_and_workers', axis=1).reset_index(drop=False)

In [92]:
tasks

,text,task,label,worker
0,""" Why did not he ask for the Var's intervention?",3261.0,0,043b91a462150036c59d74c7673289d5
1,""" Why did not he ask for the Var's intervention?",3261.0,0,693620efb636e2672ee2fbcf8ea27958
2,""" Why did not he ask for the Var's intervention?",3261.0,0,3b972756883087c59eafe6aac630ed66
3,"""""SELF HARM""Rouhani, in Vienna trying to salva...",11549.0,1,c736d37f31974f5849676c2ce3aff58f
4,"""""SELF HARM""Rouhani, in Vienna trying to salva...",11549.0,1,538d04a5c8dfddc2afa3a09f01b5ddd4
...,...,...,...,...
65340,… just because somebody was born in an era tha...,15600.0,0,a311d48ee766b6e696228ffe2b731f5e
65341,… just because somebody was born in an era tha...,15600.0,3,93791c5031b66bd658426b231bff8ebb
65342,"😉”\n“‘Spero,’ which is Latin for ‘hope’ and al...",171.0,1,cf595f6a413a62ac8d4a43e953bb4593
65343,"😉”\n“‘Spero,’ which is Latin for ‘hope’ and al...",171.0,1,890447284f0273f92a64c544375d59ee
65344,"😉”\n“‘Spero,’ which is Latin for ‘hope’ and al...",171.0,3,3cd83ef049722ae42acde9dd823c880a

In [93]:
aggregated_scores = get_wawa_score(tasks)
aggregated_scores

task
0.0        1
1.0        1
2.0        1
3.0        1
6.0        1
          ..
19947.0    1
19948.0    1
19949.0    1
19951.0    1
19952.0    1
Name: agg_label, Length: 18334, dtype: int64

In [36]:
train, val, test = join_with_data_and_split(aggregated_scores, 'sent_tokenized_dataset.csv')

train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [37]:
train = pd.read_csv("train.csv")
train['is_subjective'].value_counts()

1    10263
3     2819
0      911
2      372
Name: is_subjective, dtype: int64