In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv("IMDB Dataset.csv").rename(columns={"review": "text", "sentiment": "score"})
data['score'].replace({"positive": 1, "negative": 0}, inplace=True)
data

                                                    text  score
0      One of the other reviewers has mentioned that ...      1
1      A wonderful little production. <br /><br />The...      1
2      I thought this was a wonderful way to spend ti...      1
3      Basically there's a family where a little boy ...      0
4      Petter Mattei's "Love in the Time of Money" is...      1
...                                                  ...    ...
49995  I thought this movie did a down right good job...      1
49996  Bad plot, bad dialogue, bad acting, idiotic di...      0
49997  I am a Catholic taught in parochial elementary...      0
49998  I'm going to have to disagree with the previou...      0
49999  No one expects the Star Trek movies to be high...      0

[50000 rows x 2 columns]

In [5]:
train_val, test = train_test_split(data, test_size=0.2, stratify=data['score'])
train, val = train_test_split(train_val, test_size=0.1, stratify=train_val['score'])

train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)